@import '../_utils';

.bg--convert {
    background: black;
    background-image: url(/public/images/background/woman-clock640.jpg);
    background-position: 90% 70%;
    background-repeat: no-repeat;
    background-size: auto;
}
